.calculator {
  display: grid;
  grid-template-columns: auto, auto, auto;
  grid-template-rows: auto, auto, auto, auto, auto, auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.calculator__output {
  text-align: right;
  background-color: black;
  color: coral;
  font-size: medium;
}

.calculator__btn {
  border-width: medium;
  background-color: coral;
  text-align: center;
}
