body {
  display: flex;
  width: 100%;
  background-color: rgb(102, 102, 185);
}

.calculator {
  display: flex;
  flex-basis: 80vw;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.calculator__output {
  text-align: right;
  background-color: black;
  color: coral;
  font-size: medium;
  width: 100vw;
  height: 20vw;
  flex-grow: 1;
}

.calculator__btn {
  border-width: medium;
  background-color: coral;
  text-align: center;
  width: calc(3 / 1);
  height: 50px;
  flex-grow: 1;
}
.calculator__operator {
  border-width: medium;
  background-color: coral;
  text-align: center;
  //width: 50px;
  width: calc(3 / 1);
  height: 50px;
}

.btn--ac {
  border-width: medium;
  background-color: coral;
  text-align: center;
  width: calc(3 / 1);
  //width: 50px;
  height: 50px;
}

.btn--equal {
  border-width: medium;
  background-color: coral;
  text-align: center;
  //width: 50px;
  width: calc(3 / 1);
  height: 50px;
}
